name: Run E2E Tests Manually

on:
  workflow_dispatch:
    inputs:
      manager_version:
        description: 'Manager version to test (Leave blank for latest)'
        required: false
      sdk_version:
        description: 'SDK version to test (Leave blank for latest)'
        required: false

jobs:
  e2e-test-run:
    runs-on: ubuntu-latest
    steps:
      # Run the composite action
      - name: Run E2E Test Action
        uses: ./.github/actions/e2e-tests # This path points to the action you just created
        with:
          manager_version: ${{ inputs.manager_version }}
          sdk_version: ${{ inputs.sdk_version }}
